{% extends "page.html" %}

{% block breadcrumb_content %}
  {% snippet "role/snippets/breadcrumb_content_outer.html" %}
  {% if action == 'new' %}
    <li class="active">
      {% link_for _('Create a Role'), controller='ckanext.accesscontrol.controllers.role:RoleController',
        action='new' %}
    </li>
  {% else %}
    {% snippet "role/snippets/breadcrumb_content_item.html" %}
    <li class="active">
      {% link_for _('Manage'), controller='ckanext.accesscontrol.controllers.role:RoleController',
        action='edit', id=c.role.key %}
    </li>
  {% endif %}
{% endblock %}

{% block content_action %}
  {% link_for _('View'), controller='ckanext.accesscontrol.controllers.role:RoleController',
    action='read', id=c.role.name, class_='btn', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('role_edit', _('Edit'), id=c.role.name) }}
  {{ h.build_nav_icon('role_permissions', _('Permissions'), id=c.role.name) }}
  {{ h.build_nav_icon('role_users', _('Users'), id=c.role.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "role/snippets/info.html" %}
{% endblock %}
