{% import "macros/form.html" as form %}

<form id="permissions-form" class="form-horizontal" permission="" method="post">
  {{ form.errors(error_summary) }}

  <table class="table table-header table-hover table-bordered" id="member-table">
    <thead>
      <tr>
        <th>{{ _('Content Type') }}</th>
        <th>{{ _('Operation') }}</th>
        <th>{{ _('Grant to Role?') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for permission in c.permissions %}
        <tr>
          <td>{{ permission.content_type }}</td>
          <td>{{ permission.operation }}</td>
          <td><input type="checkbox" name="permission:{{ permission.id }}" value="1"
                     {{ " checked" if permission.granted }} /></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-permissions">
    <button class="btn btn-primary" name="save" type="submit">
      {{ _('Apply Changes') }}
    </button>
  </div>
</form>
